body 
{
    background-color: black;
}

.container 
{
    max-width: 1060px;
    margin: 10px auto;
}

h1, h2 
{
    text-align: center;
    color: gold;
}

iframe 
{
    border-style: double;
    border-width: 20px;
    border-color: red;
    padding: 10px;
    width: 1000px;
    height:500px;
    background-color: white;
}